# Variables in python

In [1]:
rent = 12

gas = 202.2

groceries = 306.6


total = rent + gas + groceries

print(total)

520.8

In [2]:
item1= "milk"

item2="chana"

In [3]:
True = 4

SyntaxError: cannot assign to True (364383922.py, line 1)

In [4]:
foo+bar = 7

SyntaxError: cannot assign to operator (3095034415.py, line 1)

# Numbers

In [5]:
12+89

101

In [6]:
3-6

-3

In [7]:
5/2

2.5

In [8]:
5*2

10

In [9]:
5//2

2

In [10]:
5%2

1

In [11]:
3**2

9

In [12]:
NYC_BAL=188

BAL_PIT = 247

Total_dist = NYC_BAL + BAL_PIT
Total_dist

435

In [13]:
MPH = 65

time = Total_dist/MPH

time

6.6923076923076925

In [14]:
round(time, 2)

6.69

In [15]:
(10+2)*3

36

In [16]:
6-5.7

#no precise way to store floating numbers as they are stored in binary format

0.2999999999999998

# Strings

USED TO STORE String data in Python

In [17]:
text = "icecream"

In [18]:
text[0]

'i'

In [19]:
text[1]

'c'

In [21]:
text[0] = 'y'

#strings are immutable in python programming language

TypeError: 'str' object does not support item assignment

In [22]:
text[2:6]

'ecre'

In [23]:
text[3:]

'cream'

In [24]:
text[::-1]

'maerceci'

In [25]:
text='hello'

In [26]:
text = "let's learn python"

text

"let's learn python"

In [27]:
#multiline string


text = '''My name is Atul
I live in Sunnyvale
I am programer
'''

text

'My name is Atul\nI live in Sunnyvale\nI am programer\n'

In [28]:
#string concatenation

s1="hello"

s1 = "World"

s1+" "+s1

'World World'

In [29]:
s1 = "hello"

s2 = 25

s1+s2

TypeError: can only concatenate str (not "int") to str

In [30]:
s1+str(s2)

'hello25'

# Lists

In [31]:
items =["bread","banana","juice"]

for i in items:
    print(i)

bread
banana
juice

In [32]:
items

['bread', 'banana', 'juice']

In [33]:
items[0]

'bread'

In [34]:
items[1]

'banana'

In [35]:
#modify list

items[0] = "chips"

items

['chips', 'banana', 'juice']

In [37]:
items[-1]

'juice'

In [38]:
items[1:]

['banana', 'juice']

In [39]:
items =["bread","banana","juice"]

items.append("butter")

items

['bread', 'banana', 'juice', 'butter']

In [40]:
items =["bread","banana","juice"]
items.insert(1,"butter")

items

['bread', 'butter', 'banana', 'juice']

In [42]:
food=["bread","banana","juice"]

bathroom = ["towel","shampoo","soap"]

final = food + bathroom

final

['bread', 'banana', 'juice', 'towel', 'shampoo', 'soap']

In [43]:
food + "banana"

TypeError: can only concatenate list (not "str") to list

In [44]:
len(final)

6

In [45]:
"banana" in final

True

# If Statement

In [46]:
num = int(input("enter a number: "))

if num%2==0:
    print("number is even")
else:
    print("number is odd")

enter a number: 8
number is even

In [47]:
4==4

True

In [48]:
4!=5

True

In [49]:
2>1

True

In [50]:
1<0

False

In [51]:
3>2 and 4> 1

True

In [52]:
3>2 and 2 > 9

False

In [53]:
3>2 or 2 > 9

True

In [56]:
indian=["samosa","dal","naan"]

chineese=["eggrolls","beaf"]

italian=["pizza"]

dish = input("enter a dish name ")

if dish in indian:
    print("indian")
elif dish in chineese:
    print("chineese")
elif dish in italian:
    print("italian")
else:
    print("dish not found")

enter a dish name samosa
indian

# For loop

In [57]:
exp=[2345,5454,2100,3100,3400]

total = 0

for i in exp:
    total = total + i

print(total)

16399

In [59]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [63]:
indian=["samosa","dal","naan"]
fvt = "naan"

for i in indian:
    if i ==fvt:
        print("fvrt naan is found")
        break
    else:
        print("not found in indian dish")

not found in indian dish
not found in indian dish
fvrt naan is found

In [65]:
for i in range(1,6):
    if i %2 == 0:
        continue
    else:
        print(i*i)

1
9
25

In [66]:
i = 1

while i <=5:
    print(i)
    i +=1

1
2
3
4
5

# Functions

# a block of code that performs specific task

In [67]:
tom = [1,2,3]
alex = [4,5,6]

total = 0

for item in tom:
    total = total + item
print("toms total", total)

toms total 6

In [69]:
def calculatetotal(exp):
    total=0
    for i in exp:
        total +=i
    return total

tom = [1,2,3]
alex = [4,5,6]

calculatetotal(alex)

15

# Dictionaries and Tuples

In [71]:
d = {"name": "atul", "age":26}


d["name"]

'atul'

In [72]:
d["telephone"] = 1234567

In [73]:
d

{'name': 'atul', 'age': 26, 'telephone': 1234567}

In [74]:
#deleting entry from dict

del d["name"]

In [75]:
d

{'age': 26, 'telephone': 1234567}

In [76]:
for key in d:
    print("key",key, "value",d[key])

key age value 26
key telephone value 1234567

In [77]:
for k,v in d.items():
    print("key",k, "value",v)

key age value 26
key telephone value 1234567

In [78]:
d["name"]="atul"

In [79]:
d

{'age': 26, 'telephone': 1234567, 'name': 'atul'}

In [81]:
"age" in d

True

In [84]:
#deleting data from dictionary
d.clear()

In [85]:
d

{}

In [86]:
#tupple: list of values grouped together

point = (6,9)

In [87]:
type(point)

tuple

In [88]:
point[0]

6

In [ ]:
#in tuple all values has a different meaning
#in list all values has same meaning

# Install Python Module (using pip)

In [89]:
import matplotlib

In [90]:
pip install matplotlib

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.5.1)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (4.30.0)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (20.9)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
WARNING: You are using pip version 19.2.3, however version 22.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# Modules

In [91]:
#module is a way to reuse a code written by someone else

In [92]:
import math

In [93]:
math.sqrt(16)

4.0

In [94]:
math.pow(2,5)

32.0

In [95]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [96]:
math.pi

3.141592653589793

In [97]:
math.log10(100)

2.0

In [98]:
math.floor(2.3)

2

In [99]:
import calendar

In [103]:
cal = calendar.month(2016,1)

print(cal)

    January 2016
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [104]:
calendar.isleap(2016)

True

In [105]:
calendar.isleap(2015)

False

# Reading/Writing Files

In [106]:
pwd

'/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra'

In [110]:
f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","w")

f.write("I love Python")

f.close()

In [111]:
f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","a")

f.write("I love C++")

f.close()

In [112]:
f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","a")

f.write("\nI love PHP")

f.close()

In [113]:
f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","a")

f.write("\nI love java also")

f.close()

In [114]:
#reading file

f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","r")

print(f.read())
f.close()

I love PythonI love C++
I love PHP
I love java also

In [115]:
f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","r")

for line in f:
    print(line)

I love PythonI love C++

I love PHP

I love java also

In [119]:
f = open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","r")

f_out=open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny_wc.txt","w")


for line in f:
    tokens = line.split(' ')
    #print(str(tokens))
    #print(len(tokens))
    f_out.write(" word counts" + str(len(tokens)) + line)

f.close()

f_out.close()

In [120]:
with open("/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Extra/funny.txt","r") as f:
    print(f.read())

I love PythonI love C++
I love PHP
I love java also

# Exception Handling

In [121]:
x = int(input("enter the value of x "))
y = int(input("enter the value of y "))

z = x/y

print("result ", z)

enter the value of x 6
enter the value of y 4
result  1.5

In [ ]:
x = int(input("enter the value of x "))
y = int(input("enter the value of y "))


try:
    z = x/y
except Exception as e:
    PRINT ()