# variable case sensitivity

In [1]:
Ten =10

ten =20

In [2]:
Ten

10

In [3]:
ten

20

In [4]:
#Python treats case sensitivity very seriously in terms of lower case and upper case letters

# Reserved words in Python

In [5]:
print("Hi")

Hi

In [9]:
print = "Hi There"

#tried using print as a variable

In [8]:
#print(print)

TypeError: 'str' object is not callable

In [10]:
print("Hi There")

TypeError: 'str' object is not callable

In [11]:
#deleting variable 

del print

In [12]:
print("hello")

hello

In [7]:
# restart kernel to clear output

In [6]:
print("hello")

hello

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

# Multiple assignments of variables

In [16]:
a,b,c, d = 10, 20.3, "atul", True

In [18]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [19]:
#erros that can cause during multiple assignment
a,b,c, d = 10

TypeError: cannot unpack non-iterable int object

# User input

In [20]:
a = input()

atul

In [21]:
a

'atul'

In [24]:
a = input("enter your name")

print(f"you have entered your name as {a}")

enter your nameakskkkkkkkkkk
you have entered your name as akskkkkkkkkkk

In [25]:
a

'akskkkkkkkkkk'

In [27]:
a = input("enter your first number")
b = input("enter your second number")

print(f"sum of a and b is {a+b}")

enter your first number10
enter your second number333
sum of a and b is 10333

# Type conversion

In [29]:
a = int(input("enter your first number "))
b = int(input("enter your second number "))

print(f"sum of a and b is {a+b}")

enter your first number 10
enter your second number 88
sum of a and b is 98

In [30]:
a = int(input("enter your first number "))
b = int(input("enter your second number "))

print(f"sum of a and b is {a+b}")

enter your first number 10.99

ValueError: invalid literal for int() with base 10: '10.99'

In [31]:
a = float(input("enter your first number "))
b = float(input("enter your second number "))

print(f"sum of a and b is {a+b}")

enter your first number 10
enter your second number 78
sum of a and b is 88.0

In [34]:
# string to integer

A = "50"

print(f"data type before {type(A)}")

A = int(A)

print(f"data type after {type(A)}")

data type before <class 'str'>
data type after <class 'int'>

In [35]:
#float to integer

A = 50.3

print(f"data type before {type(A)}")

A = int(A)

print(f"data type after {type(A)}")

data type before <class 'float'>
data type after <class 'int'>

In [36]:
#float to integer

A = "50.3"

print(f"data type before {type(A)}")

A = int(A)

print(f"data type after {type(A)}")

data type before <class 'str'>

ValueError: invalid literal for int() with base 10: '50.3'

In [37]:
A = "50.3"

print(f"data type before {type(A)}")

A = float(A)

print(f"data type after {type(A)}")

data type before <class 'str'>
data type after <class 'float'>

In [40]:
# integer to boolean

A = 10

print(f"data type before {type(A)}")

A = bool(A)

print(f"data type after {type(A)} {A}")

data type before <class 'int'>
data type after <class 'bool'> True

In [41]:
# integer to boolean

A = -10

print(f"data type before {type(A)}")

A = bool(A)

print(f"data type after {type(A)} {A}")

data type before <class 'int'>
data type after <class 'bool'> True

In [42]:
# integer to boolean

A = 0

print(f"data type before {type(A)}")

A = bool(A)

print(f"data type after {type(A)} {A}")

data type before <class 'int'>
data type after <class 'bool'> False

In [43]:
#STRING TO BOOLEAN
A = "ATUL"

print(f"data type before {type(A)}")

A = bool(A)

print(f"data type after {type(A)} {A}")

data type before <class 'str'>
data type after <class 'bool'> True

In [44]:
#STRING TO BOOLEAN
A = "False"

print(f"data type before {type(A)}")

A = bool(A)

print(f"data type after {type(A)} {A}")

data type before <class 'str'>
data type after <class 'bool'> True

In [45]:
#emptry STRING TO BOOLEAN
A = ""

print(f"data type before {type(A)}")

A = bool(A)

print(f"data type after {type(A)} {A}")

data type before <class 'str'>
data type after <class 'bool'> False

In [46]:
#emptry STRING TO innteger
A = ""

print(f"data type before {type(A)}")

A = int(A)

print(f"data type after {type(A)} {A}")

data type before <class 'str'>

ValueError: invalid literal for int() with base 10: ''

In [47]:
a = "Atul"

b = "pinku"


print(f"""
my name is {a}
my best friend is {b}
""")

my name is Atul
my best friend is pinku

# memory block

In [48]:
a =20
b=30
c=20

In [49]:
id(a)

4521135360

In [50]:
id(b)

4521135680

In [51]:
id(c)

4521135360

In [52]:
#memory is assigned to the value passed not the variable name

In [53]:
print(id(a),id(b),id(c))

4521135360 4521135680 4521135360

In [54]:
a =20
b=30
c=20.0

print(id(a),id(b),id(c))

4521135360 4521135680 140540759192688

In [55]:
a =20
b="amit"
c=20.0

print(id(a),id(b),id(c))

4521135360 140540759581680 140540759194992