In [1]:
a = "sudh"

len(a)

#length is a function

4

In [2]:
a = [1,2,3,4,5,6,7]

len(a)

#reutilising a same function multiple times/scenario
#FUNCTIONS ARE WRITTEN TO INCREASE REUABILITY OF CODE

7

In [4]:
#when we don't define properties or task of this function
def test():

SyntaxError: unexpected EOF while parsing (2690612609.py, line 2)

In [5]:
def test():
    pass

In [6]:
def test1():
    print("this is my first function")

In [7]:
test1()

this is my first function

In [8]:
#STORING OUTCOME OF FUNCTION INTO VARIABLE

b = test1()

this is my first function

In [10]:
b

#b is not storing any value here

In [13]:
print(b)

print(type(b))

None
<class 'NoneType'>

In [12]:
c = "kumar"


type(c)

str

In [14]:
type(test1())

this is my first function

NoneType

In [15]:
def test2():
    return 5

In [16]:
test2()

5

In [17]:
d = test2()

In [18]:
d

5

In [19]:
type(d)

int

In [20]:
#print always return none type

In [25]:
def test3():
    return "atul"

In [22]:
def test4():
    print("hellow world")

In [23]:
e = test4()

hellow world

In [24]:
e + "atul"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [26]:
f = test3() + "pinku"

In [27]:
f

'atulpinku'

In [28]:
#we cannot convert none type string in Python

In [29]:
#return multiple elements

def test5():
    return 1,2,3,[1,2,2,3,4,'vv'], (3,43,5)

In [30]:
test5()

(1, 2, 3, [1, 2, 2, 3, 4, 'vv'], (3, 43, 5))

In [32]:
type(test5())

tuple

In [35]:
#tuples are immutable
#list are mutable

test5()[3]

[1, 2, 2, 3, 4, 'vv']

In [37]:
a,b,c,d,e = test5()

In [38]:
a

1

In [39]:
b

2

In [40]:
c

3

In [41]:
d

[1, 2, 2, 3, 4, 'vv']

In [42]:
def test8():
    a = 7 + 8
    return a

In [43]:
test8()

15

In [44]:
type(test8())

int

In [50]:
l = [1,2,3,4,5,6,7,8,9,10]

def mysum(l):
    isum = 0
    for i in l:
        isum=isum+i
    return isum 

mysum(l)

55

In [51]:
l = [1,2,3,4,5,6,7,8,9,10,11,"atul"]

def mysum(l):
    isum = 0
    for i in l:
        if type(i) == int:
            isum=isum+i
    return isum 

mysum(l)

66

In [54]:
l = [1,2,3,4,5,6,7,8,9,10,11,"atul",88,879,8.90]

def mysum(l):
    isum = 0
    for i in l:
        if type(i) == int:
            isum=isum+i
    return isum 

mysum(l)

#8.90 is not added as its data type is float and it is skipped

1033

In [55]:
def test11(a,b):
    return a + b

In [56]:
test11(13,67)

80

In [57]:
test11("atul","kumar")

'atulkumar'

In [58]:
test11(a = "atul",b = "kumar")

'atulkumar'

In [59]:
test11(a = "atul",c = "kumar")

TypeError: test11() got an unexpected keyword argument 'c'

In [60]:
test11(a = 3,b = 5)

8

In [2]:
l = [1,2,3,5,6,7,'atul','pinku', 'rajesh']


def mylist(l):
    """This is my first function used to create a string list from a mixed list"""
    a=[]
    for i in l:
        if type(i) == str:
            a.append(i)
    return a

In [3]:
mylist(l)

['atul', 'pinku', 'rajesh']

In [5]:
mylist(l)

['atul', 'pinku', 'rajesh']

In [7]:
#write a function to find length of string


def mylen(s):
    t = 0
    for i in s:
        t+=1
    return t

mylen('atulkumar')

9

In [9]:
#function to pring index of list elements


def myindex(l):
    for i in range(len(l)):
        print(f"element {l[i]} index is {i}" )

In [10]:
myindex(l)

element 1 index is 0
element 2 index is 1
element 3 index is 2
element 5 index is 3
element 6 index is 4
element 7 index is 5
element atul index is 6
element pinku index is 7
element rajesh index is 8

In [ ]:
#function to print ipaddress of your system

# FUNCTION That will shut down your system

# WRITE A FUNCTION that will take list as input with any kind of numeric value 
#and give an out as multiplication of all teh numeric data l

# write  function which will be able to read all the emails

#PYTHON FUNCTION TO SEND EMAIL TO ANYONE

# python function which will be able to read a file from your system