# Question 1: Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [1]:
# usage of key word error: this error comes when  we use reserved words as variables in Python

In [2]:
print = "Hi There"

#tried using print as a variable

In [3]:
print("Hi There")

TypeError: 'str' object is not callable

In [4]:
del print

In [5]:
# Assignment error: when we provide less inputs during multi variable assignment

#erros that can cause during multiple assignment
a,b,c, d = 10

TypeError: cannot unpack non-iterable int object

In [6]:
#type conversion error

a = int(input("enter your first number "))
b = int(input("enter your second number "))

print(f"sum of a and b is {a+b}")

enter your first number 10
enter your second number 10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [7]:
#float to integer conversion error

A = "50.3"

print(f"data type before {type(A)}")

A = int(A)

print(f"data type after {type(A)}")

data type before <class 'str'>

ValueError: invalid literal for int() with base 10: '50.3'

In [8]:
#emptry STRING TO innteger
A = ""

print(f"data type before {type(A)}")

A = int(A)

print(f"data type after {type(A)} {A}")

data type before <class 'str'>

ValueError: invalid literal for int() with base 10: ''

# 2. Take input A and B and print their sum, mul, div, square of the nos.

In [12]:
a = int(input("enter first number"))

b = int(input("eneter second number"))



print("Sum ", a + b)
print("Subtraction ", a + b)
print("multiplication ", a*b)
print("division ", a/ b)
print("power ", a**b)

enter first number2
eneter second number3
Sum  5
Subtraction  5
multiplication  6
division  0.6666666666666666
power  8

# 3. How many reserve keywords are there in python and why we should not use them as a variable name.

In [13]:
# reserve words are language specific key words that has a specific meaning and function 
# in a programming language and if we use them as variable names then we get errors during execution

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

# 4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com

In [14]:
firstname = input("enter first name ")
lastname = input("enter last name ")

print(f"{lastname}.{firstname}@gmail.com")

enter first name atul
enter last name sharma
sharma.atul@gmail.com

# 5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [17]:
name = input ("enter your name ")

address = input("enter your address")

amount = input("enter your amount ")

print(f"""
Hi I'm {firstname}
My address is {address}
I earn {amount}$ daiy
""")

enter your name atul
enter your address22/3
enter your amount 20

Hi I'm atul
My address is 22/3
I earn 20$ daiy

# 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [20]:
firstname = input("enter  your first name")
lastname = input("enter  your last name")
address = input("ente  your address")
date_of_birth = input("enter your date of birth")

print(f"""
Hi I'm {firstname}
My address is {address}
My date of birth is {date_of_birth}
My email address is {lastname}.{firstname}@gmail.com
""")

enter  your first nameatul
enter  your last namesharma
ente  your address22/9
enter your date of birth12-12-1111

Hi I'm atul
My address is 22/9
My date of birth is 12-12-1111
My email address is sharma.atul@gmail.com

# 7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [23]:
a = "22"

output = complex(int(a))

print(output)

(22+0j)

In [26]:
# "22.4" into integer
a = "22.4"

a = float(a)

final = int(a)

print(final)

22