#  1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+	
6

Answer
=======
values: -87.8, 6 , 'hello'

expressions: * - / +

# 2. What is the difference between string and variable?

Variables are symbols that you can use to store data in a program. You can think of them as an empty box that you fill with some data or value. Strings are data, so we can use them to fill up a variable. 

example of variable my_name = 'atul'   here my_name is a variable which is holding a string value 'atul' in that

# 3. Describe three different data types.

Various data types in python are : String, integer, float, complex


Text Type:	    str   ==> used to store text data. example : name = "atul"

Numeric Types:	int, float, complex ==> used to store numeric data. 
                example: age = 34, salary = 56.99, c = 6 = 7j

Sequence Types:	list, tuple, range => used to store sequence of values. Examples: a = [1,2,3,4,5,6,7]

Mapping Type:	dict : ==> used to store data in key value form. example: mydict = { 'name': 'atul', 'age': 32}

Set Types:	    set, frozenset : Sets are used to store unique data. (no duplicates are stored. 
                a = {1,2,3,4,4} ---> {1,2,3,4}
               
Boolean Type:	bool : Used to store True false values

Binary Types:	bytes, bytearray, memoryview

None Type:	    NoneType

# 4. What is an expression made up of? What do all expressions do?

An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

An expression is a combination of operators and operands that is interpreted to produce some other value. 

x = 15 + 1.3

here 15 and 1.3 are values and + is operator

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In programming language terminology, an “expression” is a combination of values and functions that are combined and interpreted by the compiler to create a new value, as opposed to a “statement” which is just a standalone unit of execution and doesn't return anything.

In [1]:
# statement 1
print('Hello')

# statement 2
x = 20

# statement 3
print(x)

Hello
20

In [2]:
# two statements in a single
l = 10; b = 5

# statement 3
print('Area of rectangle:', l * b)

# Output Area of rectangle: 50

Area of rectangle: 50

In [3]:
x = 25          # a statement
x = x + 10      # an expression

print(x)

35

Types of Expression in Python:

1. Constant Expressions : 

x = 10 + 15

# Here both 10 and 15 are constants but x is a variable.
print("The value of x is: ", x)


2. Arithmetic Expressions

x = 10
y = 5

addition = x + y
subtraction = x - y
product = x * y
division = x / y
power = x**y

print("The sum of x and y is: ", addition)
print("The difference between x and y is: ", subtraction)
print("The product of x and y is: ", product)
print("The division of x and y is: ", division)
print("x to the power y is: ", power)


3. Integral Expressions : An integral expression in Python is used for computations and type conversion (integer to float, a string to integer, etc.). An integral expression always produces an integer value as a resultant.

x = 10      # an integer number
y = 5.0     # a floating point number

# we need to convert the floating-point number into an integer or vice versa for summation.
result = x + int(y)

print("The sum of x and y is: ", result)


4. Floating Expressions 

x = 10      # an integer number
y = 5.0     # a floating point number

# we need to convert the integer number into a floating-point number or vice versa for summation.
result = float(x) + y

print("The sum of x and y is: ", result)


5. Relational Expressions : A relational expression in Python can be considered as a combination of two or more arithmetic expressions joined using relational operators. The overall expression results in either True or False (boolean result). We have four types of relational operators in Python 
(>,<,>=,<=).


a = 25
b = 14
c = 48
d = 45

# The expression checks if the sum of (a and b) is the same as the difference of (c and d).
result = (a + b) == (c - d)
print("Type:", type(result))
print("The result of the expression is: ", result)

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [5]:
bacon = 22 
bacon + 1

print(bacon)

# bacon will only contain the same value as 22 as we are not assigning the value back after increment

22

# 7. What should the values of the following two terms be?

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

A variable name must start with a letter or the underscore character. A variable name cannot start with a number. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) Variable names are case-sensitive (age, Age and AGE are three different variables)

In [9]:
# In Python 100 is a data value and value cannot be used as assigment

100 = "python"

SyntaxError: cannot assign to literal (3054986382.py, line 3)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [10]:
# Answer : int(), str(), float()


a = 4.5

print(type(a))

<class 'float'>

In [13]:
#converting to integer
int(a)

4

In [15]:
#converting to float
a = 5
float(a)

5.0

In [17]:
#converting to string

a = 5.0

str(a)

'5.0'

# 10. Why does this expression cause an error? How can you fix it?

In [18]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [20]:
#Answer: This expression failed becuase we are trying to concat number with string.

In [21]:
#Fix

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'