# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [3]:
numbers = [12, 75, 150, 180, 145, 525, 50]

mymax = None

for i in numbers:
    if mymax is None:
        mymax = i #assigning first value as mymax defualt value
    elif i > mymax:
        mymax = i
print(mymax)

525

Q2. Print all the even number between (1, 12).

In [6]:
#case 1: excluding 12 
for i in range(1,12):
    if i%2 == 0:
        print(f"even number {i}")

even number 2
even number 4
even number 6
even number 8
even number 10

In [7]:
#case 1: including 12 
for i in range(1,13):
    if i%2 == 0:
        print(f"even number {i}")

even number 2
even number 4
even number 6
even number 8
even number 10
even number 12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [10]:
mynum = int(input("enter a number "))

mysum = 0

for n in range (0,mynum+1):
    mysum = mysum + n
print(f"sum is {mysum}")

enter a number 10
sum is 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [35]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num%5 ==0:
        
        if num>500:
            break
        if num>150:
            continue
        
        print(num)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [14]:
list1 = [10, 20, 30, 40, 50]

#approach 1: using slicing method to reverse

print(f"my reversed list {list1[::-1]}")

my reversed list [50, 40, 30, 20, 10]

In [19]:
#approach 2: using reverse method to reverse

list1 = [10, 20, 30, 40, 50]
print("List before reverse : ",list1)
list1.reverse()
print("List after reverse : ",list1)

List before reverse :  [10, 20, 30, 40, 50]
List after reverse :  [50, 40, 30, 20, 10]

In [20]:
#approach 3: using for loop

list1 = [10, 20, 30, 40, 50]
print("List before reverse : ",list1)
reversed_list = []
for value in list1:
  reversed_list = [value] + reversed_list  
print("List after reverse : ", reversed_list)

List before reverse :  [10, 20, 30, 40, 50]
List after reverse :  [50, 40, 30, 20, 10]