In [1]:
A=[1,2,3,4,5]

In [3]:
A= [1,2,3,5+6j, "atul"]

#In array iun other programming lanuages we have data of only one type
# in Python list, data can be of same data type or different

In [4]:
type(A)

list

In [7]:
for i in A:
    print(i)

1
2
3
(5+6j)
atul

In [10]:
for i in range(len(A)):
    print(A[i])

1
2
3
(5+6j)
atul

In [11]:
for i in range(len(A)):
    print(f"value is {A[i]} and data type is {type(A[i])}")

value is 1 and data type is <class 'int'>
value is 2 and data type is <class 'int'>
value is 3 and data type is <class 'int'>
value is (5+6j) and data type is <class 'complex'>
value is atul and data type is <class 'str'>

In [13]:
A[-2]

(5+6j)

In [14]:
A[3:]

[(5+6j), 'atul']

In [15]:
A[0:]

[1, 2, 3, (5+6j), 'atul']

In [17]:
A[0::2]

[1, 3, 'atul']

In [18]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [20]:

for i in range(0,5,2):
    print(i, A[i])

0 1
2 3
4 atul

In [21]:
#reversing a list

A[::-1]

['atul', (5+6j), 3, 2, 1]

In [23]:
B=[1,2,3,4,5,6]

B[-5:-2]

[2, 3, 4]

In [24]:
B[:-1]

[1, 2, 3, 4, 5]

In [25]:
B[:5]

[1, 2, 3, 4, 5]

In [27]:
B[-5:-1:1]

[2, 3, 4, 5]

In [28]:
B[-1:-5:1]

[]

In [29]:
B[4:1:-1]

[5, 4, 3]

In [30]:
for i in range(-1,-len(A) -1, -1):
    print(i,A[i])

-1 atul
-2 (5+6j)
-3 3
-4 2
-5 1

In [31]:
#changing values in List

A

[1, 2, 3, (5+6j), 'atul']

In [32]:
A[0] = "Pinku"
A

['Pinku', 2, 3, (5+6j), 'atul']

In [41]:
#lIST CONCATENATION


A=[1,2,3]

B=[4,5,6]

A+B

[1, 2, 3, 4, 5, 6]

In [42]:
A

[1, 2, 3]

In [43]:
A*2

[1, 2, 3, 1, 2, 3]

In [44]:
A+A+A

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [45]:
A*0

[]

In [46]:
len(A)

3

In [48]:
mylist=[]

for i in range(5):
    A= int(input("enter any number "))
    mylist.append(A)
print(mylist)

enter any number 33
enter any number 44
enter any number 55
enter any number 66
enter any number 77
[33, 44, 55, 66, 77]

In [51]:
mylist=list()

for i in range(5):
    A= int(input("enter any number "))
    mylist = mylist + [A]
print(mylist)

enter any number 5
enter any number 5
enter any number 5
enter any number 5
enter any number 5
[5, 5, 5, 5, 5]

In [52]:
mylist

[5, 5, 5, 5, 5]

In [53]:
mylist+6

TypeError: can only concatenate list (not "int") to list

In [55]:
#checking eelement in list
print(mylist)

3 in mylist

[5, 5, 5, 5, 5]

False

In [56]:
print(mylist)

5 in mylist

[5, 5, 5, 5, 5]

True

In [57]:
A=["atul", "amit"]


if "pinku" in A:
    print("yes")
else:
    print("Adding new element in list")
    A= A+["pinku"]
print(A)

Adding new element in list
['atul', 'amit', 'pinku']

In [58]:
if "pinku" in A:
    print("yes")
else:
    print("Adding new element in list")
    A= A+["pinku"]
print(A)

yes
['atul', 'amit', 'pinku']

In [59]:
#FINDING MAX IN LIST

A=[1,3,4,5,99]

max(A)

99

In [60]:
#Finding elment with max length

A=["Atul", "Amitesh","rakaaaaaa"]

max_len = 0
max_word = ""

for i in A:
    if len(i) > max_len:
        max_len=len(i)
        max_word=i
print(max_word)
print(max_len)

rakaaaaaa
9

In [61]:
A

['Atul', 'Amitesh', 'rakaaaaaa']

In [62]:
A.append("nituuuuuuu")

In [63]:
A

['Atul', 'Amitesh', 'rakaaaaaa', 'nituuuuuuu']

In [64]:
#pOP METHOD TO remove ELEMENT AT THE LAST index


A=[1,2,3,4,5,6]

A.pop()

6

In [65]:
A

[1, 2, 3, 4, 5]

In [66]:
A.pop(0)

A

[2, 3, 4, 5]

In [67]:
removed_element = A.pop(2)
removed_element

4

In [70]:
#SORTING ELEMENTS

A=[9,6,5,7,4,4,777,34,34]
sorted(A)

[4, 4, 5, 6, 7, 9, 34, 34, 777]

In [72]:
#descending order 
A=[9,6,5,7,4,4,777,34,34]
A = sorted(A)
print(A)
A[::-1]

[4, 4, 5, 6, 7, 9, 34, 34, 777]

[777, 34, 34, 9, 7, 6, 5, 4, 4]

In [73]:
#reversing string
#INPLACE OPERATION

A=[9,6,5,7,4,4,777,34,34]

A.reverse()

In [74]:
A

[34, 34, 777, 4, 4, 7, 5, 6, 9]

In [75]:
A=[9,6,5,7,4,4,777,34,34]
A.sort(reverse=True)

A

[777, 34, 34, 9, 7, 6, 5, 4, 4]

In [76]:
#NESTING LIST

In [77]:
A=[[1,2,3],[11,22,33],[45,88]]

A

[[1, 2, 3], [11, 22, 33], [45, 88]]

In [78]:
A[1][1]

22

In [81]:
A=[[1,2,3],[11,22,[33,22,44,54,44]],[45,88]]
A[1][2][2]

44

In [83]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]

65000

In [85]:
totalsum=0

for i in range(len(amazon_cart)):
    # print(amazon_cart[i][1])
    totalsum = totalsum + amazon_cart[i][1]
print(totalsum)

65000

In [88]:
for i in amazon_cart:
    print(i[1])

5000
10000
50000

# List comprehension

In [91]:
A = [1,2,3,4,5,6,7,8]

final= []
for i in A:
    #print(i**2)
    final.append(i**2)

print(final)

[1, 4, 9, 16, 25, 36, 49, 64]

In [92]:
ans = [i**2 for i in A]

In [93]:
ans

[1, 4, 9, 16, 25, 36, 49, 64]

In [96]:
ans = [i**2 for i in A if i%2!=0]

In [97]:
ans

[1, 9, 25, 49]

In [98]:
A.count(4)

1

In [103]:
A = [1,2,2,3,3,4,5,6,6,7,8]


print(A.count(888))

for i in A:
    print(i, A.count(i))

0
1 1
2 2
2 2
3 2
3 2
4 1
5 1
6 2
6 2
7 1
8 1

In [104]:
A = [1,2,2,3,3,4,5,6,6,[7,7],[7,7]]

A.count([7,7])

2

In [105]:
A=[1,2,3]
B=[4,5,6]

A.extend(B)

In [106]:
A

[1, 2, 3, 4, 5, 6]

In [107]:
A=[1,2,3]
B=[4,5,6]

A.append(B)

In [108]:
A

[1, 2, 3, [4, 5, 6]]

# Index method

In [109]:
A=[11,2,3,66,"suuny", 1+2j]

A.index(2)

1

In [111]:
A.index("suuny")

4

In [112]:
a = 4+5j

print(type(a))

<class 'complex'>

In [119]:
A=[11,2,3,66,5+4j, "suuny", 1+2j]


for i in A:
    if type(i) == complex:
        print(i, A.index(i))

(5+4j) 4
(1+2j) 6

In [120]:
A

[11, 2, 3, 66, (5+4j), 'suuny', (1+2j)]

In [123]:
A.index(8888)

ValueError: 8888 is not in list

# Insert

In [124]:
A.append(777)

In [125]:
A

[11, 2, 3, 66, (5+4j), 'suuny', (1+2j), 777]

In [126]:
A.insert(2, "pinkuda")

A

[11, 2, 'pinkuda', 3, 66, (5+4j), 'suuny', (1+2j), 777]

In [127]:
A.insert(99999, "Pikuda ki saheli")

A

[11, 2, 'pinkuda', 3, 66, (5+4j), 'suuny', (1+2j), 777, 'Pikuda ki saheli']

In [128]:
A.insert(-100, "chinkuda")

A

['chinkuda',
 11,
 2,
 'pinkuda',
 3,
 66,
 (5+4j),
 'suuny',
 (1+2j),
 777,
 'Pikuda ki saheli']

In [129]:
A.insert(1,[1,2,3,4,5,6])

A

['chinkuda',
 [1, 2, 3, 4, 5, 6],
 11,
 2,
 'pinkuda',
 3,
 66,
 (5+4j),
 'suuny',
 (1+2j),
 777,
 'Pikuda ki saheli']

# Pop

In [130]:
A

['chinkuda',
 [1, 2, 3, 4, 5, 6],
 11,
 2,
 'pinkuda',
 3,
 66,
 (5+4j),
 'suuny',
 (1+2j),
 777,
 'Pikuda ki saheli']

In [131]:
A.pop(11)

'Pikuda ki saheli'

In [132]:
A

['chinkuda',
 [1, 2, 3, 4, 5, 6],
 11,
 2,
 'pinkuda',
 3,
 66,
 (5+4j),
 'suuny',
 (1+2j),
 777]

In [133]:
A.remove(66)

In [134]:
A

['chinkuda',
 [1, 2, 3, 4, 5, 6],
 11,
 2,
 'pinkuda',
 3,
 (5+4j),
 'suuny',
 (1+2j),
 777]

In [135]:
#POP REMOVES BY INDEX
#REMOVE THE ITEM BY ITS FIRST OCCURANCE VALUE

# Tuples

In [136]:
#Tuples()
#they are immutable

In [137]:
B = (1,2,3)

type(B)

tuple

In [138]:
B[0]

1

In [139]:
B[0] = 22

TypeError: 'tuple' object does not support item assignment

In [140]:
B.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [143]:
sorted(B)

#returend output is a list

[1, 2, 3]

In [144]:
len(B)

3

In [145]:
B*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [146]:
min(B)

1

In [147]:
max(B)

3

In [148]:
B.count(2)

1

In [149]:
B.reversed()

AttributeError: 'tuple' object has no attribute 'reversed'

In [150]:
# ("item_name", amount) 

amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

total_cost = 0

In [151]:
len(B)

3

In [152]:
B[1:]

(2, 3)

In [153]:
amazon_cart

[('watch', 5000), ('phone', 10000), ('laptop', 50000), ('shirt', 1000)]

In [162]:
amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

my_choice = input("what you want to purchase ")


for item in amazon_cart:
    if item[0] == my_choice:
        print(item)

what you want to purchase phone
('phone', 10000)

In [155]:
my_choice

'phone'

# sets

unorfdered collection of unique elements

In [163]:
Z = {1,1,1,1,44,4,5,6,7,7,8}

Z

{1, 4, 5, 6, 7, 8, 44}

In [164]:
Y = {}

type(Y)

dict

In [165]:
X = set()

type(X)

set

In [166]:
X = {1,1,1,1,44,4,5,6,7,7,8}

X.add("Atul")

In [167]:
X

{1, 4, 44, 5, 6, 7, 8, 'Atul'}

In [168]:
X.remove(4)

In [169]:
X

{1, 44, 5, 6, 7, 8, 'Atul'}