In [1]:
#squate root method

A = 4

A**(1/2)

2.0

In [2]:
name = "Sunny"

In [4]:
#checking first element of string
name[0]

'S'

In [5]:
name[-1]

'y'

In [6]:
name[4]

'y'

In [7]:
name[-2]

'n'

In [8]:
# string index out of range

#for n characters in string the index range varies from 0 to n-1

name[5]

IndexError: string index out of range

In [10]:
#string slicing : getting part of string

# start index : included
#last index : not included

name[0:3]

'Sun'

In [11]:
name[1:]

'unny'

In [12]:
name[1:5]

'unny'

In [13]:
name[-4:-1]

'unn'

In [17]:
date = "08/10/2022"

day = date[0:2]
print(day)

month = date[3:5]
print(month)

year = date[6:]
print(year)

08
10
2022

In [21]:
#pailendrome sequence


wrd = 'madam'

if wrd == wrd[::-1]:
    print(f"{wrd} is a pailndrome")
else:
    print("not a pailendrome")

madam is a pailndrome

In [23]:
wrd = 'MUMMY'

if wrd == wrd[::-1]:
    print(f"{wrd} is a pailndrome")
else:
    print(f"{wrd} not a pailendrome")

MUMMY not a pailendrome

In [24]:
wrd = 'MUMMYYT'

wrd[0:5:2]

'MMY'

In [25]:
name = "Sunny Bhaveen Chandra"

name[::2]

'SnyBaenCada'

In [26]:
name[::]

'Sunny Bhaveen Chandra'

# String Mutability

In [27]:
#replace S with F in Sunny

In [31]:
name = "Sunny"

name[0] = "F"

TypeError: 'str' object does not support item assignment

In [32]:
name = "F" + name[1:]
name

'Funny'

In [33]:
name = name.replace("y", "yyyyy")
name

'Funnyyyyy'

In [35]:
name= "Sunny"

name = name.replace("Sunny", "Tinku")
name

'Tinku'

In [36]:
name = "Atul Kumar Sharma"

name = name.replace(" ", "_")

name

'Atul_Kumar_Sharma'

In [37]:
#checking length of string
len(name)

17

In [38]:
name[0] = "F"  # This is not allowed

TypeError: 'str' object does not support item assignment

In [39]:
#count specific character in string

name = "Atul Sharma"

name.count("a")

2

In [40]:
#split operation 
name = "Atul Kumar sharma"

name.split(" ")

['Atul', 'Kumar', 'sharma']

In [41]:
first, middle , last = name.split(" ")

print(first)
print(middle)
print(last)

Atul
Kumar
sharma

In [42]:
date = "08/10/2012"

dt,mnth, year = date.split("/")

print(dt)
print(mnth)
print(year)

08
10
2012

In [43]:
name = "Sunny Bhaveen Chandra"

name.split("n")

['Su', '', 'y Bhavee', ' Cha', 'dra']

In [44]:
#lower upper case


name = "Sunny Bhaveen Chandra"

name.lower()

'sunny bhaveen chandra'

In [45]:
name = "Sunny Bhaveen Chandra"

name.upper()

'SUNNY BHAVEEN CHANDRA'

In [47]:
name = "Sunny bhaveen chandra"

name.title()

'Sunny Bhaveen Chandra'

In [48]:
name = "Sunny bhaveen chandra"

name.capitalize()

'Sunny bhaveen chandra'

In [49]:
name = "Sunny bhaveen chandra"

name.swapcase()

'sUNNY BHAVEEN CHANDRA'

In [50]:
name = "Sunny bhaveen chandra"
"*".join(name)

'S*u*n*n*y* *b*h*a*v*e*e*n* *c*h*a*n*d*r*a'

In [51]:
name = "Sunny bhaveen chandra"
"_".join(name)

'S_u_n_n_y_ _b_h_a_v_e_e_n_ _c_h_a_n_d_r_a'

In [52]:
#removing extra sapces

name = " Atul  "

name.strip()

'Atul'

In [53]:
name = " Atul  "

name.strip(" ")

'Atul'

In [54]:
name = " Atul  "

name.lstrip(" ")

'Atul  '

In [55]:
name = " Atul  "

name.rstrip(" ")

' Atul'

In [56]:
name.replace(" ","")

'Atul'

In [57]:
name = "====Atul====="

name.rstrip("=")

'====Atul'

In [59]:
name = "Atul"

name.center(10,"#")

'###Atul###'

In [60]:
#checking string cases

name= "ATUL"

name.isupper()

True

In [61]:
name= "atul"

name.islower()

True

In [62]:
name= "Atul"

name.islower()

False

In [63]:
name= "Atul"

name.isspace()

False

In [64]:
phone = "12345"

phone.isdigit()

True

In [68]:
phone = input(" enter your phone number ")

if phone.isdigit() and len(phone) == 10 and phone!="0000000000":
    print("valid phone number")
else:
    print("A invalid phone number")

 enter your phone number 0000000000
A invalid phone number

In [71]:
name = "Sunny6789ABC"

name.isalnum()

True