In [1]:
def test1():
    a = 5+6
    return a

In [2]:
test1()

11

In [3]:
def test2(a,b):
    return a+b

In [4]:
test2(6,9)

15

In [5]:
test2("atul","suresh")

'atulsuresh'

In [6]:
#test2("atul",9)

TypeError: can only concatenate str (not "int") to str

In [8]:
test2(b="pinku",a="naresh")

'nareshpinku'

In [9]:
#function with any number of inputs

In [10]:
def test3(*args):
    return args

In [13]:
test3(1,3,4,'fff')
#wrapped in tuple
#datatype of args is tuple

(1, 3, 4, 'fff')

In [14]:
test3([1,2,3,4,5],'atul',(888,99))

([1, 2, 3, 4, 5], 'atul', (888, 99))

In [15]:
def test4(*args):
    return list(args)

In [16]:
test4([1,2,3,4,5],'atul',(888,99),99)

[[1, 2, 3, 4, 5], 'atul', (888, 99), 99]

In [17]:
def test5(*args):
    l=[]
    for i in args:
        l.append(i)
    return l

In [18]:
test5([1,2,3,4,5],'atul',(888,99),99,'sharma')

[[1, 2, 3, 4, 5], 'atul', (888, 99), 99, 'sharma']

In [19]:
def test6(*atul):
    return atul

In [20]:
test6([1,2,3,4,5],'atul',(888,99),99,'sharma',9+8j)

([1, 2, 3, 4, 5], 'atul', (888, 99), 99, 'sharma', (9+8j))

# Dictionary

# data is stored in key value pair
# key cannot be duplicated

In [23]:
l=[1,2,3,4]
t = (3,4,4,8)
s={1,1,1,4,4}

In [25]:
s

{1, 4}

In [26]:
type(s)

set

In [27]:
d ={}

In [28]:
type(d)

dict

In [29]:
d={"key1":"atul","key2":[1,2,3,4,5]}

In [30]:
d["key1"]

'atul'

In [31]:
d["key3"] = "sharma ji"
d[123] = "numeric value with numberic key"

In [32]:
d

{'key1': 'atul',
 'key2': [1, 2, 3, 4, 5],
 'key3': 'sharma ji',
 123: 'numeric value with numberic key'}

In [33]:
d1={@: 123}

#special characters cannot be used as keys

SyntaxError: invalid syntax (1132516953.py, line 1)

In [38]:
d5 = {[1,2,3,4]: "atul"}

#list as key not allowed becuase its mutable

TypeError: unhashable type: 'list'

In [39]:
d5 = {(1,2,3,4): "atul"}

#tuples are allowed as key as tuples are immutable and keys are immutable in disctionaries

In [40]:
d5

{(1, 2, 3, 4): 'atul'}

In [41]:
d7 ={"name": "atul", "org": "apple", "mailid": "atul@apple", "name": "atulwa"}

In [43]:
d7

#in dictionary keys cannot be duplicated
#LATEST key value is considered

{'name': 'atulwa', 'org': 'apple', 'mailid': 'atul@apple'}

In [44]:
d8 ={"name ": "atul", "org": "apple", "mailid": "atul@apple", "name": "atulwa"}

In [46]:
d8
#in below example name and name has space that is reason it is considered different

{'name ': 'atul', 'org': 'apple', 'mailid': 'atul@apple', 'name': 'atulwa'}

In [47]:
#dictionary inside dictionary

d9 = {"name": "atul", "mentor":{"maths": "pinku","science": "chimpu"}}

In [48]:
d9

{'name': 'atul', 'mentor': {'maths': 'pinku', 'science': 'chimpu'}}

In [49]:
d7

{'name': 'atulwa', 'org': 'apple', 'mailid': 'atul@apple'}

In [50]:
#extracting values from dictionary

d7["mailid"]

'atul@apple'

In [51]:
d9

{'name': 'atul', 'mentor': {'maths': 'pinku', 'science': 'chimpu'}}

In [52]:
d9["mentor"]["maths"]

'pinku'

In [54]:
d10 = {"name": "atul", "mentor":{"maths": "pinku","science": "chimpu"},"marks":[1,2,3,4,5,6,7]}

In [55]:
d10["marks"][2]

3

In [57]:
#listing keys in dictionary
d10.keys()

dict_keys(['name', 'mentor', 'marks'])

In [59]:
#listing values
d10.values()

dict_values(['atul', {'maths': 'pinku', 'science': 'chimpu'}, [1, 2, 3, 4, 5, 6, 7]])

In [60]:
d10.items()

dict_items([('name', 'atul'), ('mentor', {'maths': 'pinku', 'science': 'chimpu'}), ('marks', [1, 2, 3, 4, 5, 6, 7])])

In [62]:
#extract values of a dictionary of dictionary

list(d10["mentor"].values())

['pinku', 'chimpu']

In [65]:
#if your values are available as dictionary just append those dict values
l=[]
for i in d10.keys():
    if type(d10[i]) ==dict:
        l.append(d10[i].values())

In [66]:
l

[dict_values(['pinku', 'chimpu'])]

In [67]:
l=[]
for i in d10.keys():
    if type(d10[i]) ==dict:
        l.append(list(d10[i].values()))
        
l

[['pinku', 'chimpu']]

In [68]:
d11 = {"name": "atul", "mentor":{"maths": "pinku","science": "chimpu"},"marks":[1,2,3,4,5,6,7],"mailid":{"pinku":"pinku@apple","chimpu":"chimpu@apple"}}

In [69]:
d11

{'name': 'atul',
 'mentor': {'maths': 'pinku', 'science': 'chimpu'},
 'marks': [1, 2, 3, 4, 5, 6, 7],
 'mailid': {'pinku': 'pinku@apple', 'chimpu': 'chimpu@apple'}}

In [70]:
l=[]
for i in d11.keys():
    if type(d11[i]) ==dict:
        l.append(list(d11[i].values()))
        
l

[['pinku', 'chimpu'], ['pinku@apple', 'chimpu@apple']]

In [71]:
def test9(d):
    l=[]
    for i in d11.keys():
        if type(d11[i]) ==dict:
            l.append(list(d11[i].values()))
    return l

In [75]:
test9(d11)

[['pinku', 'chimpu'], ['pinku@apple', 'chimpu@apple']]

In [73]:
d11

{'name': 'atul',
 'mentor': {'maths': 'pinku', 'science': 'chimpu'},
 'marks': [1, 2, 3, 4, 5, 6, 7],
 'mailid': {'pinku': 'pinku@apple', 'chimpu': 'chimpu@apple'}}

In [74]:
d11["mobile"] = (1234,87678)

In [76]:
d11

{'name': 'atul',
 'mentor': {'maths': 'pinku', 'science': 'chimpu'},
 'marks': [1, 2, 3, 4, 5, 6, 7],
 'mailid': {'pinku': 'pinku@apple', 'chimpu': 'chimpu@apple'},
 'mobile': (1234, 87678)}

In [77]:
#updating values of keys in dictionary

d11["name"] = "atul sharma"

d11

{'name': 'atul sharma',
 'mentor': {'maths': 'pinku', 'science': 'chimpu'},
 'marks': [1, 2, 3, 4, 5, 6, 7],
 'mailid': {'pinku': 'pinku@apple', 'chimpu': 'chimpu@apple'},
 'mobile': (1234, 87678)}

In [78]:
d7

{'name': 'atulwa', 'org': 'apple', 'mailid': 'atul@apple'}

In [79]:
#deleting dictionary

del d7

In [80]:
d7

NameError: name 'd7' is not defined

In [81]:
#deleting values from dictionary

d8

{'name ': 'atul', 'org': 'apple', 'mailid': 'atul@apple', 'name': 'atulwa'}

In [83]:
del d8["name "]

d8

{'org': 'apple', 'mailid': 'atul@apple'}

In [84]:
d8.pop('mailid')

d8

{'org': 'apple'}

In [85]:
d8["atulwasalary"] = "12345"

In [86]:
d8

{'org': 'apple', 'atulwasalary': '12345'}

# keword arguments

# variable name with variable values

In [87]:
def test11(**kwargs):
    return kwargs

In [88]:
test11(1234)

TypeError: test11() takes 0 positional arguments but 1 was given

In [90]:
test11(a=4,b=8,c=9,d=[1,2,3,4,5])

#return as dictionary

{'a': 4, 'b': 8, 'c': 9, 'd': [1, 2, 3, 4, 5]}

In [91]:
test11(a=4,b=8,c=9,d=[1,2,3,4,5],e={'name':'atul'})

{'a': 4, 'b': 8, 'c': 9, 'd': [1, 2, 3, 4, 5], 'e': {'name': 'atul'}}

In [92]:
#function is called first class citizen
#we can create function inside function

# function inside function

In [93]:
def test12(a):
    return a

In [94]:
def test13(b):
    return b

In [95]:
def test14(func):
    return func("atul")

In [97]:
test14(test12)

'atul'

In [100]:
def test12(a):
    return a

def test13():
    return "atul"

def test14(func):
    return func("atul")

test14(test12)

'atul'

In [101]:
test14(test13)

TypeError: test13() takes 0 positional arguments but 1 was given

In [102]:
def test12(a):
    return a

def test13(*args):
    return "atul"

def test14(func):
    return func("atul")

test14(test12)

'atul'

In [103]:
test14(test13)

'atul'

In [105]:
def test15():
    print("this is my test 15 function")
    
    def test16():
        print("test 16")
        
    def test17():
        print("test 17")

In [106]:
test15()

this is my test 15 function

In [108]:
test15.test16

AttributeError: 'function' object has no attribute 'test16'

In [113]:
def test15(a):
    print("this is my test 15 function")
    
    def test16():
        print("test 16")
        
    def test17():
        print("test 17")
        
    
    if a ==16:
        return test16()
    else:
        return test17()

In [114]:
test15(16)

this is my test 15 function
test 16

In [115]:
test15(17)

this is my test 15 function
test 17

In [118]:
def test13(*args):
    print("this is outcome of test13")

In [119]:
def test18(func):
    def test19():
        print("i am in test 19")
        func()
    return test19()

In [120]:
test18(test13)

i am in test 19
this is outcome of test13

In [123]:
#how to call only test 19 function


def test18():
    def test19():
        print("i am in test 19")
        #func()
    return test19()

In [124]:
test18()

i am in test 19

In [125]:
def test18(func):
    def test19():
        print("i am in test 19")
        #func()
    return test19()

In [126]:
test18(test13)

i am in test 19

# decorators

In [128]:
#during celebrations we decorate the house
# we dont change the house every diwali
# we just decorate the room
# same room with different floweres is with different look
#PROPERTIES OF house remains the same with additional features

#decorators: properties of base func does not change but if someone has written something which we can use as it is in our function 
# i can just call that function without calling my main function

#used for reutilsation of code

In [129]:
#decoration with respect to function

def test18(func):
    def test19():
        print("i am in test 19 and this will behave as decorators to any functions that i will bne use")
        func()
    return test19()

In [131]:
def test20():
    print("this is my test 20")
    
test20()

this is my test 20

In [5]:
def test18(func):
    def test19():
        print("i am in test 19")
        func()
    return test19()

In [6]:
def test20():
    print("this is my test 20")

In [7]:
test20()

this is my test 20

In [8]:
test18(test20)

i am in test 19
this is my test 20

In [10]:
@test18
def test20():
    print("this is my test 20")

i am in test 19
this is my test 20

In [12]:
test20()

TypeError: 'NoneType' object is not callable

In [13]:
pwd()

'/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Class_08_Python_Functions_Continued'

In [21]:
import os
def test18(func):
    def test19():
        print("i am in test 19")
        print(os.getcwd())
        func()
    return test19

In [22]:
@test18
def test20():
    print("this is my test 20")

In [23]:
test20()

i am in test 19
/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Class_08_Python_Functions_Continued
this is my test 20

In [24]:
#multiple decorators

import os
def test22(func):
    def test23():
        print("i am in test 23")
        print(os.getcwd())
        func()
    return test23

In [25]:
@test18
@test22
def test20():
    print("this is my test 20")

In [26]:
test20()

i am in test 19
/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Class_08_Python_Functions_Continued
i am in test 23
/Users/atul595525/repository1/INEURON_FSDS_SEPT_2022/Notebooks/Class_08_Python_Functions_Continued
this is my test 20

In [28]:
#program to find execution time of a function

import time

start = time.time()
print("hello")
end=time.time()
print(end-start)

hello
0.0003662109375

In [29]:
def test25(func):
    def test26():
        print("this function will give you execution time of a function")
        start = time.time()
        func()
        end = time.time()
        print(end-start)
    return test26

In [30]:
def test27():
    l = [4,6,8,9, 8.0, 7.99]
    l1=[]
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [31]:
test27()

[4, 6, 8, 9]

In [33]:
@test25
def test27():
    l = [4,6,8,9, 8.0, 7.99]
    l1=[]
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [34]:
test27()

this function will give you execution time of a function
4.0531158447265625e-06

In [35]:
@test25
def test27():
    """
    this is a function which will take a decorator for calculating the execution time
    """
    l = [4,6,8,9, 8.0, 7.99]
    l1=[]
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [ ]:
test27()