In [1]:
def test1(func):
    def test2():
        print("I am in test 2")
        func()
        print("function executed")
    return test2

In [2]:
def test3():
    return 5+6

In [3]:
test3()

11

In [4]:
test1(test3)

In [5]:
test1(test3())

In [8]:
@test1
def test3():
    #return 5+6
    print("this is my test3")

In [9]:
test3()

I am in test 2
this is my test3
function executed

In [10]:
@test1
def test4():
    return 5+6

In [11]:
test4()

I am in test 2
function executed

In [12]:
def test1(func):
    def test2():
        print("I am in test 2")
        func()
        print(func())
        print("function executed")
    return test2

In [13]:
@test1
def test4():
    return 5+6

In [14]:
test4()

I am in test 2
11
function executed

In [15]:
a = test4()
a

I am in test 2
11
function executed

In [16]:
print(a)

None

In [17]:
test4() + 12

I am in test 2
11
function executed

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [18]:
def test1(func):
    def test2():
        print("I am in test 2")
        func()
        print(func())
        print("function executed")
        return func()
    return test2

In [19]:
@test1
def test4():
    return 5+6

In [20]:
test4()

I am in test 2
11
function executed

11

In [21]:
type(test4())

I am in test 2
11
function executed

int

In [22]:
test4() + 56

I am in test 2
11
function executed

67

In [23]:
def test6(func):
    def test7():
        print("I am in test 6")
        func()
        print(func())
        print("function executed")
        return func()
    return test7

In [26]:

def test8():
    return 8+9

In [27]:
test8()

17

In [32]:
def test8(a,b):
    return a+b

In [33]:
test8()

TypeError: test8() missing 2 required positional arguments: 'a' and 'b'

In [34]:
test8(7,9)

16

In [35]:
@test6
def test8(a,b):
    return a+b

In [36]:
test8(6,6)

TypeError: test7() takes 0 positional arguments but 2 were given

In [43]:
def test6(func):
    def test7(a,b):
        print("I am in test 6")
        func(a,b)
        print(func(a,b))
        print("function executed")
        return func(a,b)
    return test7

In [44]:
@test6
def test8(a,b):
    return a+b

In [45]:
test8(6,6)

I am in test 6
12
function executed

12

In [46]:
def test6(func):
    def test7(*args):
        print("I am in test 6")
        func(*args)
        print(func(*args))
        print("function executed")
        return func(*args)
    return test7

In [47]:
@test6
def test8(a,b,c):
    return a+b+c

In [48]:
test8(8,9,10)

I am in test 6
27
function executed

27

In [49]:
@test6
def test9(**kwargs):
    return kwargs

In [50]:
test9(a=2,b=2)

TypeError: test7() got an unexpected keyword argument 'a'

In [51]:
def test6(func):
    def test7(*args,**kwargs):
        print("I am in test 6")
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("function executed")
        return func(*args,**kwargs)
    return test7

In [52]:
@test6
def test9(**kwargs):
    return kwargs

In [53]:
test9(a=2,b=2)

I am in test 6
{'a': 2, 'b': 2}
function executed

{'a': 2, 'b': 2}

In [55]:
test9(a=6,b=8,c=9)

I am in test 6
{'a': 6, 'b': 8, 'c': 9}
function executed

{'a': 6, 'b': 8, 'c': 9}

In [56]:
@test6
def test8(a,b,c):
    return a+b+c

In [57]:
test8(7,8,9)

I am in test 6
24
function executed

24

# lambda functions

<lambda> : anonymnous

In [58]:
def test10(a,b):
    return a+b

In [59]:
test10(8,89)

97

In [60]:
lambda a,b : a+b

In [61]:
test10

In [62]:
#storing function inside a variable
c = lambda a,b : a+b

In [64]:
c("atul ", "sharma")

'atul sharma'

In [65]:
d = lambda a,b,c: a*b+c

In [67]:
d(2,2,9)

13

In [68]:
e = lambda *args: args

In [69]:
e()

()

In [70]:
e(2,3)

(2, 3)

# Map Reduce Filter

In [71]:
l = [1,2,3,4,5,6,7,8]

# if every element of list add 10

In [72]:
l1=[]
for i in l:
    l1.append(i+10)
l1

[11, 12, 13, 14, 15, 16, 17, 18]

map()

Init signature: map(self, /, *args, **kwargs)
Docstring:     
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [73]:
def test14(a):
    return a+10

In [78]:
map(test14,l)

In [79]:
list(map(test14,l))

[11, 12, 13, 14, 15, 16, 17, 18]

In [80]:
list(map(lambda a:a+10, l))

[11, 12, 13, 14, 15, 16, 17, 18]

In [81]:
n = lambda a: a+10

list(map(n,l))

[11, 12, 13, 14, 15, 16, 17, 18]

In [82]:
l2 =["atul","kumar","sharma"]

n = lambda a : a.upper()

list(map(n,l2))

['ATUL', 'KUMAR', 'SHARMA']

In [87]:
#getting length of all the varaible in list
l2 =["atul","kumar","sharma"]

list(map(len,l2))

[4, 5, 6]

In [88]:
l2 =["atul","kumar","sharma"]

n = lambda a : len(a)

list(map(n,l2))

[4, 5, 6]

In [89]:
def test23(a):
    return len(a)

In [90]:
list(map(test23,l2))

[4, 5, 6]

# filter function

filter()

Init signature: filter(self, /, *args, **kwargs)
Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.
Type:           type
Subclasses:

In [99]:
l =[1,2,3,4,5,6,7,8]

# find even numbers
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)

In [100]:
l1

[2, 4, 6, 8]

In [101]:
[i for i in l if i%2 ==0]

[2, 4, 6, 8]

In [107]:
def test24(l):
    l2=[]
    if type(l) == list:
        for i in l:
            if i%2 ==0:
                l2.append(i)
    return l2

In [108]:
l =[1,2,3,4,5,6,7,8]

test24(l)

[2, 4, 6, 8]

In [109]:
a = lambda a : a if a%2 ==0 else None

In [110]:
list(map(a,l))

[None, 2, None, 4, None, 6, None, 8]

In [111]:
a = lambda a : a if a%2 ==0

SyntaxError: invalid syntax (3675881157.py, line 1)

In [113]:
list(filter(a,l))

#filter condition works on True or False

[2, 4, 6, 8]

In [117]:
def test25(a):
    if a%2==0:
        return True
    else:
        return False

In [118]:
test25(32)

True

In [119]:
test25(33)

False

In [120]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [121]:
list(filter(test25,l))

[2, 4, 6, 8]

In [122]:
def test26(a):
    if a%2==0:
        return False
    else:
        return True

In [123]:
list(filter(test26,l))

[1, 3, 5, 7]

In [124]:
sum(l)

36

# Reduce Functions

In [126]:
from functools import reduce

In [128]:
reduce(lambda a,b: a*b,l)

40320

In [130]:
reduce(lambda a,b,c: a*b*c,l)

#it failed becuase it will not be able to find cth element in the 4th iteration

#WHENEVER YOU ARE PASSING ANY FUNCTION IN REDUCE, it shuld only take only 2 arguments

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [131]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [132]:
l1 =[3]

In [134]:
reduce(lambda a,b: a*b,l1)

#if you pass only one element in reduce then it will return the same element
# this is the only exception in lambda function

3

In [135]:
def test26():
    """
    This is my docstring to give help to next programmer
    """
    return "this is my func"

test26()

Signature: test26()
Docstring: This is my docstring to give help to next programmer
File:      /var/folders/5n/plkx587s0kj_92g0r6z1vvq40000gn/T/ipykernel_75533/1317442282.py
Type:      function

In [138]:
def test26()-> int:
    """
    This is my docstring to give help to next programmer
    """
    return "this is my func"

#int is not a return type of function here

# -> int : This act as hint to programmer that you need to enter integer as input

In [ ]:
test26()

In [139]:
def test27(a,b)-> int:
    """
    This is my docstring to give help to next programmer
    """
    return a+b

In [140]:
test27(7,8)

15

In [141]:
def test27(a:int,b)-> int:
    """
    This is my docstring to give help to next programmer
    """
    return a+b

In [142]:
test27("atul","kumar")

'atulkumar'

In [143]:
def test27(a:int,b:int=234)-> int:
    """
    This is my docstring to give help to next programmer
    """
    return a+b

In [144]:
test27(45,90)

135

In [145]:
test27(45)

279